@font-face {
  font-family: BLOG;
  src: url("../font/BLOG.woff");
}
@font-face {
  font-family: Lora;
  src: url("../font/Lora-Regular.ttf"), url("../font/Lora-Regular.eot");
}
@font-face {
  font-family: Lora-Bold;
  src: url("../font/Lora-Bold.ttf"), url("../font/Lora-Bold.eot");
}
@font-face {
  font-family: Lato;
  src: url("../font/Lato-Regular.ttf"), url("../font/Lato-Regular.eot");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../font/Lato-Bold.ttf"), url("../font/Lato-Bold.eot");
}
pre {
  border: 1px dashed #ddd;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.header {
  text-align: center;
}
.header h1,
.header h2 {
  margin: 0;
  line-height: 1.2;
}
.header .title a {
  color: var(--accent-color);
  text-decoration: none;
  font: 700 3rem BLOG;
  transition: 0.3s;
}
.header .title a:hover {
  color: var(--text-light);
}
.header .desc {
  margin: 0.5em 0 0.25em;
  font: 18px BLOG;
  color: var(--text-light);
}
.header .links {
  height: 40px;
  margin: 2.25em auto 4.5em;
  border-top: 1px dashed var(--border-color);
  border-bottom: 1px dashed var(--border-color);
  font: 700 13px Lato-Bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header .links ul {
  text-decoration: none;
  padding: 0;
}
.header .links ul li {
  display: inline-block;
}
.header .links ul li::after {
  content: "\00B7";
  margin: 0 0.75em;
}
.header .links ul li:last-child::after {
  content: '';
}
.header .links ul li.translation-switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.header .links ul li.translation-switcher .translation-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.35em;
  min-width: 28px;
  height: 28px;
  border: 1px solid transparent;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--text-light);
  transition: 0.3s;
}
.header .links ul li.translation-switcher .translation-button svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.header .links ul li.translation-switcher .translation-button .translation-current {
  font-size: 11px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--text-light);
}
.header .links ul li.translation-switcher .translation-button:hover {
  color: var(--accent-color);
}
.header .links ul li.translation-switcher .translation-button:hover .translation-current {
  color: var(--accent-color);
}
.header .links ul li.translation-switcher .translation-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}
.header .links ul li.translation-switcher .translation-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0.5em 0 0;
  padding: 0.4em 0;
  background: var(--container-bg);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  min-width: 90px;
  z-index: 5;
}
.header .links ul li.translation-switcher:hover .translation-menu {
  display: block;
}
.header .links ul li.translation-switcher:focus-within .translation-menu {
  display: block;
}
.header .links ul li.translation-switcher .translation-lang {
  display: block;
  padding: 0.35em 0.8em;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.header .links ul li.translation-switcher .translation-lang.is-current {
  color: var(--accent-color);
  font-weight: 700;
}
.header .links ul li.translation-switcher .translation-lang:hover {
  color: var(--accent-color);
}
.header .links ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}
.header .links ul li a:hover {
  color: var(--accent-color);
}
.header .ipad-menu {
  display: none;
  position: fixed;
  top: 4em;
  left: -1px;
}
.header .mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 3em);
  padding: 0 1.5em;
  height: 3em;
  z-index: 1;
  box-shadow: 0px 1px 5px var(--border-color);
}
.header .mobile-menu h3 a {
  color: var(--accent-color);
  text-decoration: none;
  font: 700 1.6rem Lora-Bold;
  text-shadow: 1px 1px var(--container-bg), 2px 2px var(--accent-color);
}
.header .mobile-menu h3 a:hover {
  color: var(--text-light);
}
.header .menu {
  padding: 0.5em 1em;
  border: 1px dashed var(--container-bg);
  outline: 5px solid var(--text-light);
  background: var(--text-light);
  font: 700 14px Lato-Bold;
  color: #fff;
  text-transform: upperCase;
}
.header .menu::before {
  content: '';
  background: url("https://cdn.jsdelivr.net/gh/frontendsophie/hexo-theme-autumn@1.0.0/source/img/menu.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: -3px;
}
.header .menu:focus,
.header .menu:active {
  background: var(--accent-color);
  outline: 3px solid var(--accent-color);
}
@media screen and (max-width: 1015px) {
  .header .ipad-menu {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .header .title a {
    font-size: 2.5rem;
  }
  .header .ipad-menu {
    display: none;
  }
  .header .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .mobile-menu .menu {
    padding: 0.2em 0.5em;
    font: 700 12px Lato-Bold;
    outline: 3px solid var(--text-light);
  }
}
.post {
  position: relative;
  text-align: center;
  border-bottom: 1px dashed var(--border-color);
  margin: 0 0 4.5em;
  padding: 0 0 3em;
}
.post::after {
  content: '';
  display: block;
  background: url("https://cdn.jsdelivr.net/gh/frontendsophie/hexo-theme-autumn@1.0.0/source/img/button.svg") no-repeat -46px top/132px 35px;
  width: 88px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -18px);
}
.post .post-cat {
  display: inline-block;
  margin: 0 0 5px;
}
.post .post-cat:first-of-type::after {
  content: "\00B7";
  margin: 0 0.75em;
  color: var(--accent-color);
}
.post .post-cat:last-of-type::after {
  content: '';
}
.post .post-cat a {
  font: 700 13px Lato-Bold;
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
  text-transform: upperCase;
  letter-spacing: 1px;
}
.post .post-cat a:hover {
  color: var(--text-color);
}
.post .post-title {
  margin: 0 0 0.5em;
  font: 1.953em Lora;
  color: var(--text-color);
}
.post .post-title::after {
  content: "";
  display: block;
  margin: 0.5em auto;
  width: 20%;
  height: 2px;
  background-color: var(--bg-color);
}
.post .post-title a {
  color: var(--text-color);
  text-decoration: none;
}
.post .post-date {
  padding: 0;
  list-style: none;
  color: var(--text-light);
  font: 14px/1.6 Lato;
}
.post .post-date li {
  display: inline-block;
}
.post .post-date li + li::before {
  content: "\00B7";
  margin: 0 0.75em;
}
.post .post-date .post-languages .post-languages-label {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.6px;
  margin-right: 0.4em;
  color: var(--text-light);
}
.post .post-date .post-languages .translation-lang {
  text-decoration: none;
  color: var(--text-light);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.post .post-date .post-languages .translation-lang.is-current {
  color: var(--accent-color);
}
.post .post-date .post-languages .post-languages-note {
  margin-left: 0.4em;
  color: var(--text-light);
  font-size: 12px;
}
.post .post-cover {
  position: relative;
  user-select: none;
}
.post .post-cover:after {
  position: absolute;
  content: '';
  width: 82%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 40px 10px var(--container-bg) inset;
}
.post .post-cover img {
  max-width: 80%;
  border-radius: 10px;
}
.post .post-content {
  position: relative;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5em;
  text-align: left;
}
.post .post-content a.more-link {
  box-shadow: inset 0 -80px 80px -5px var(--container-bg);
  color: var(--accent-color);
  font-family: Lora-Bold;
  font-weight: 700;
  display: block;
  width: 100%;
  position: absolute;
  bottom: -32px;
  padding-top: 100px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
.post .post-content a.more-link:hover {
  box-shadow: none;
}
.post .post-content img {
  max-width: 100%;
  border-radius: 4px;
}
.post .post-tag {
  text-align: left;
  padding: 10px 20px;
  color: var(--text-light);
  font: 1rem Lato;
  font-style: italic;
}
.highlight {
  overflow: scroll;
}
.highlight table {
  width: 100%;
}
.highlight td {
  padding: 0px !important;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid var(--highlight-border);
  padding: 5px;
}
blockquote {
  background: var(--blockquote-bg);
  padding: 5px 10px;
  margin-left: 0;
  border-left: 10px solid var(--blockquote-border);
}
.post-end-line {
  text-align: left;
  padding: 0px 20px;
  color: #bbb;
  font: 1.4rem Lato;
  font-style: italic;
}
.post-end-line-small {
  text-align: left;
  padding: 0px 20px;
  color: #bbb;
  font: 1rem Lato;
  font-style: italic;
}
#comments strong {
  color: var(--text-light);
  font-size: 1rem;
}
#comments small {
  font-size: 0.8rem;
}
#comments .O_comment_body {
  position: relative;
  color: #777;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1em;
}
#comments .O_summary {
  color: var(--text-light);
  font-size: 1rem;
}
#comments #O__submit_comment {
  font-size: 1rem;
}
.hr-color {
  border: 3px dashed var(--text-light);
  border-radius: 2px;
}
.new-book-banner-image {
  width: 90%;
}
.aside {
  overflow: hidden;
  width: 25%;
  float: right;
}
.close {
  display: none;
  position: absolute;
  right: 1.5em;
  top: 1em;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: var(--text-dark);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.aside-section {
  margin: 0 0 3em;
}
.aside-section h2 {
  font: 1.25em/1.2 Lora;
  margin: 0.67em 0;
  color: var(--text-color);
}
.aside-section h2:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 0.45em;
  float: left;
  background: url("https://cdn.jsdelivr.net/gh/frontendsophie/hexo-theme-autumn@1.0.0/source/img/button.svg") no-repeat 0 0/84px 22px;
  width: 22px;
  height: 32px;
}
.aside-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.aside-section ul li {
  border-top: 1px dashed var(--border-color);
  margin-top: 0.6em;
  padding-top: 0.6em;
}
.aside-section ul li a {
  color: var(--accent-color);
  text-decoration: none;
  font: 14px Lato;
  transition: 0.3s;
}
.aside-section ul li a:hover {
  color: var(--accent-hover);
}
.aside-section ul li span {
  font: 12px Lato;
  padding-left: 5px;
  color: var(--accent-color);
}
.aside-section.tag li {
  display: inline-block;
  border: none;
  margin: 0 10px 0 0;
}
.aside-section.tag li a {
  border: 1px dashed var(--border-color);
  padding: 4px;
}
@media screen and (max-width: 1015px) {
  .aside {
    display: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 28%;
    height: 100vh;
    padding: 3em 20px 0;
    background-color: var(--container-bg);
    box-shadow: 1px 1px 3px var(--border-color);
  }
  .aside .close {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .aside {
    width: calc(100% - 40px);
    box-shadow: none;
  }
  .aside .close {
    width: 32px;
    height: 32px;
  }
  .aside .close:before,
  .aside .close:after {
    left: 15px;
    height: 33px;
  }
}
.about {
  color: #777;
  font-size: 1rem;
  line-height: 1.6;
}
.search-input {
  color: #777;
}
::placeholder {
  color: var(--text-light);
  font-style: italic;
}
.toc-container {
  background: var(--blockquote-bg);
  border: 1px var(--text-light);
  display: table;
  font-size: 80%;
  padding: 5px;
}
.toc-container .toc-text {
  font-weight: 700;
  text-align: center;
}
.toc-container li,
.toc-container ul,
.toc-container ul li {
  list-style: outside none none;
}
.toc-container ol {
  padding-inline-start: 10px;
}
:root {
  --bg-color: #f3f3f3;
  --container-bg: #fff;
  --text-color: #777;
  --text-light: #bbb;
  --text-dark: #555;
  --accent-color: #f78769;
  --accent-hover: #ddd;
  --border-color: #ddd;
  --blockquote-bg: #f9f9f9;
  --blockquote-border: #ccc;
  --highlight-border: #808080;
}
[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --container-bg: #2d2d2d;
  --text-color: #ccc;
  --text-light: #999;
  --text-dark: #e0e0e0;
  --accent-color: #ff8c69;
  --accent-hover: #666;
  --border-color: #444;
  --blockquote-bg: #333;
  --blockquote-border: #555;
  --highlight-border: #666;
}
body {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: background-color 0.3s ease, color 0.3s ease;
}
body h1 .header-anchor,
body h2 .header-anchor,
body h3 .header-anchor,
body h4 .header-anchor,
body h5 .header-anchor,
body h6 .header-anchor {
  display: none;
}
body h1:hover .header-anchor,
body h2:hover .header-anchor,
body h3:hover .header-anchor,
body h4:hover .header-anchor,
body h5:hover .header-anchor,
body h6:hover .header-anchor {
  display: inline-block;
}
body a {
  color: var(--accent-color) !important;
  text-decoration: none;
  transition: 0.3s;
}
body a:hover {
  color: var(--accent-hover) !important;
}
body p code {
  font-size: 1rem;
}
.container {
  max-width: 1500px;
  width: 80%;
  box-sizing: border-box;
  padding: 3em 5%;
  background: var(--container-bg);
  margin: 3em auto;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
.container .main {
  width: 70%;
  float: left;
}
.invisibile {
  visibility: hidden;
}
.hidden {
  display: none;
}
@media screen and (max-width: 1015px) {
  .container .main {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .container {
    margin: 3em 0 0;
    width: 100%;
    padding: 1.75em;
  }
}
.pagination-bar {
  height: 40px;
  margin: 2.25em auto 4.5em;
  font: 700 13px Lato-Bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pagination-bar ul {
  text-decoration: none;
  padding: 0;
}
.pagination-bar ul li {
  color: var(--text-color);
  display: inline-block;
}
.pagination-bar ul li::after {
  content: "\00B7";
  margin: 0 0.75em;
}
.pagination-bar ul li:last-child::after {
  content: '';
}
.pagination-bar ul li a {
  text-decoration: none;
  transition: 0.3s;
}
.pagination-bar ul li a:hover {
  color: var(--accent-color);
}
