<% if (theme.widgets.newbook) { %>
    <h2>新書上市</h2>
    <a href="/books/beyond-just-coding-book.html">
        <img alt="my photo" width="80%" src="https://raw.githubusercontent.com/tigercosmos/beyond-just-coding-book/refs/heads/master/book_picture.jpg">
    </a>
    <div class="">
      <b>《程式設計原來不只有寫 CODE！銜接學校與職場的五堂軟體開發實習課》</b>
      ——成為優秀的軟體工程師，從培養資工基本素養開始！
    </div>
<% } %>